.default-color0.chart-series-line {  -fx-stroke:  BLUE; }
.default-color1.chart-series-line {  -fx-stroke:  RED; }
.default-color2.chart-series-line {  -fx-stroke:  GREEN; }

.default-color0.chart-series-area-line { -fx-stroke: BLUE; }
.default-color1.chart-series-area-line { -fx-stroke: RED; }
.default-color2.chart-series-area-line { -fx-stroke: GREEN; }
